<footer class="footer">
  <div class="footer__container">
    <p class="footer_brand">
      <i class="fa-solid fa-dragon"></i>
      Kauai
    </p>
    <p class="footer__copy">
      Made with <i class="fa-solid fa-heart"></i> for
      <picture>
        <source
          srcset="./assets/images/logo.png?as=webp&width=350"
          type="image/webp"
        />
        <img
          src="./assets/images/logo.png?width=350"
          alt="Universitat Oberta de Catalunya"
        />
      </picture> - HTML &amp; CSS Tools II · 2026
    </p>
    <p class="footer__disclaimer">
      All images belong to their respective owners. This is an educational project.
    </p>
  </div>
</footer>
