<footer class="footer">
  <div class="footer__container">

    <a href="#hero" class="footer__logo">
      <img
        src="./assets/images/kauai-logo.png"
        alt="Kaua'i Logo"
        class="header__logo-img"
        width="32"
        height="32"
        loading="eager"
        decoding="async"
      >
      <span>Kaua'i</span>
    </a>
    <p class="footer__copy">
      Made with <i class="fa-solid fa-heart"></i> for
      <picture>
        <source
          srcset="./assets/images/logo-uoc.png?as=webp&width=350"
          type="image/webp"
        />
        <img
          src="./assets/images/logo-uoc.png?width=350"
          alt="Universitat Oberta de Catalunya"
        />
      </picture> - HTML &amp; CSS Tools II · 2026
    </p>
    <p class="footer__disclaimer">
      All images belong to their respective owners. This is an educational project.
    </p>
  </div>
</footer>
