<section class="gallery" id="gallery">
  <div class="gallery__container">
    <span class="gallery__label">Photo gallery</span>
    <h2 class="gallery__title">Kaua'i through the lens</h2>
  </div>
  <div class="swiper gallery__swiper">
    <ul class="swiper-wrapper gallery__list">
      <li class="swiper-slide gallery__item">
        <img
          src="./assets/images/gallery/gallery-sunset.jpg"
          alt="Sunset"
          loading="lazy"
          decoding="async"
        >
      </li>
      <li class="swiper-slide gallery__item">
        <img
          src="./assets/images/gallery/gallery-napali.jpg"
          alt="Na Pali Coast jungle"
          loading="lazy"
          decoding="async"
        >
      </li>
      <li class="swiper-slide gallery__item">
        <img
          src="./assets/images/gallery/gallery-kalalau.jpg"
          alt="Kalalau"
          loading="lazy"
          decoding="async"
        >
      </li>
      <li class="swiper-slide gallery__item">
        <img
          src="./assets/images/gallery/gallery-rock.jpg"
          alt="Coast rocks"
          loading="lazy"
          decoding="async"
        >
      </li>
      <li class="swiper-slide gallery__item">
        <img
          src="./assets/images/gallery/gallery-fog.jpg"
          alt="Jungle fog"
          loading="lazy"
          decoding="async"
        >
      </li>
    </ul>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>
