@use "sass:color";

// Colors
$color-background: #121212;
$color-text: #fff;
$color-primary: #393;
$color-secondary: #6c6;
$color-neon: #0f8;

// Fonts
$font-primary: 'Unbounded', sans-serif;
$font-secondary: 'DM Sans', sans-serif;

// Spacings
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 4rem;

// Breakingpoints
$bp-sm: 480px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1280px;

$container-max-width: 1200px;
$container-padding: 1.5rem;
