@import "npm:@fortawesome/fontawesome-free/css/all.css";
@import "npm:swiper/swiper.css";
@import "npm:swiper/modules/navigation.css";
@import "npm:swiper/modules/pagination.css";

@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/unbounded-v12-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/unbounded-v12-latin-700.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/dm-sans-v17-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/dm-sans-v17-latin-700.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
